#paper {
    width: inherit;
    display: block;
    border: 0;
    margin-bottom: 3px;
    text-align: center;
    background: #464a65;
}
#paper>svg {
    overflow: visible;
}
.connection,
.connection-wrap {
    stroke: #ccc0ef;
}

