{% extends 'base.html' %}

<br>
<br>
{% block contenido %}
    <br>
    <!--Formulario de Login -->
    <p></p>
    <div class="grid-container"> 
        <div class="grid-x align-center"> 
            <div class="row">
                <div class="large-5 large-offset-3">     
                    <div class="text-center">
                        <h4>Inicia Sesión</h4>
                        {% if form.errors %}
                            <p>El usuario y/o clave son incorrectos, intente de nuevo.</p>
                        {% endif %}
                        
                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                            {% else %}
                                <h4>Inicia Sesión</h4>
                            {% endif %}
                        {% endif %}
                    </div>                   
                    <form method="post" action="{% url 'login' %}" class="callout text-center">
                        {% csrf_token %}
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                        <input class="button expanded" type="submit" value="Ingresar"> 
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>    
            </div>
        </div>
    </div>
    <!--Formulario de Login -->


{% endblock %}