{% extends 'base.html' %}
<br>
<br>
{% block contenido %}
    <br>
    <!-- Formulario de Registro -->
    <div class="grid-container"> 
        <div class="grid-x align-center"> 
            <div class="row">
                <div class="large-5 large-offset-3">
                    <div class="form-icons">
                        <div class="text-center">
                            <h4>Registro de cuenta</h4>
                            <div class="callout text-center">
                                <form method = "POST">
                                    {% csrf_token %}
                                    <tr>
                                        <td>{{ form.username.label_tag }}</td>
                                        <td>{{ form.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.first_name.label_tag }}</td>
                                        <td>{{ form.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.last_name.label_tag }}</td>
                                        <td>{{ form.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.email.label_tag }}</td>
                                        <td>{{ form.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.password1.label_tag }}</td>
                                        <td>{{ form.password1 }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.password2.label_tag }}</td>
                                        <td>{{ form.password2 }}</td>
                                    </tr>
                                    <button class="button expanded">Inscribirse</button>

                                </form>   
                            </div>  
                        </div> 
                    </div>
                </div>    
            </div>        
        </div>
    </div>
    {% if messages %}
        {% for m in messages %}
            <script>
             Swal.fire({ 
                title: '!Error!',
                text: "{{m}}",
                icon: 'warning',
            })
            </script>
    {% endfor %}
{% endif %}
    <!-- Formulario de Registro -->
    
{% endblock %}
 