body{background:rgb(255, 255, 255);
    }
    
    .member-entry {
      border: 1px solid #d9ebf2;
      padding: 15px;
      margin-top: 15px;
      margin-bottom: 30px;
      -moz-box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.02);
      -webkit-box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.02);
      box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.02);
      -moz-transition: all 300ms ease-in-out;
      -webkit-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      -webkit-border-radius: 3px;
      -webkit-background-clip: padding-box;
      -moz-border-radius: 3px;
      -moz-background-clip: padding;
      border-radius: 3px;
      background-clip: padding-box;
      background:rgb(248, 249, 250);
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    }
    .member-entry:before,
    .member-entry:after {
      content: " ";
      display: table;
    }
    .member-entry:after {
      clear: both;
    }
    .member-entry:hover {
      background: rgb(255, 255, 255);
      -moz-box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.06);
      -webkit-box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.06);
      box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.06);
    }
