{% extends 'base.html' %}
{% load static %}
<br>
<br>
{% block contenido %}
    {% block js %}
    <script>
        function eliminarasd(id){
            Swal.fire({ 
                title: 'Estas segur@?',
                text: "No podrás revertir esto!!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: "Cancelar",
                confirmButtonText: 'Sí'
            }).then(resultado => {
                if (resultado.isConfirmed) {
                   window.location.href = "/eliminar_diagrama/"+ id +"/";
                }
            });
        }
        
    </script>

    <script>
        function convertir(id){
            Swal.fire({ 
                title: '¿Estás segur@ que deseas convertirlo?',
                text: "^^",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: "Cancelar",
                confirmButtonText: 'Sí'
            }).then(resultado => {
            if (resultado.isConfirmed) {
                console.log("hola");
                window.location.href = "/edicion_diagrama_importado/"+ id +"/";
            }
        });
        }
    </script>

    <script>
        function mostrarERD1(){
            document.getElementById('1').style.display = 'block';
            document.getElementById('2').style.display = 'none';

        }


        function mostrarERD2(){
            document.getElementById('1').style.display = 'none';
            document.getElementById('2').style.display = 'block';
        }
    </script>
    {% endblock %}

    {% if entity %}
    <div class="row">
        <div class="large-8 large-offset-2">
            <ul class="vertical menu align-right">
                <br>
                <a href="#" onclick = "mostrarERD1();"class="button secondary"> ERD 1</a>
                <a href="#" onclick = "mostrarERD2();" class="button secondary"> ERD 2</a>
            </ul>
        </div>    
    </div>
    {% endif %}

    <!-- Contenido -->
    {% if not entity %}
        <div class="row medium-8 large-7 columns">
            <div class="blog-post">
                <h3> Crea un Documento  </h3>
                <h5> Cuando crees un diagrama se guardarán aqui :'D</h5>
 
                <div class="callout">
                    <ul class="menu simple">
                        <!-- -->
                        <!-- cambiar imagen -->
                        <center><img src="{% static 'iconos/vacio.jpg' %}" width="100" height="100">
                        <p>  </p>
                       
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="1">
        {% for d in entity %}
            {% if d.tipo == 1 %}
                <div class="row" s>
                    <div class="large-8 large-offset-2">
                        <div class="member-entry">
                            <h3> {{ d.titulo }} <small> {{ d.fecha_creacion }} </small></h3>
                            <p>{{ d.descripcion }}</p>
                            <p>Última modificación: {{ d.ultima_modificacion }}</p>
                            <ul class="vertical menu align-right">
                                <a href="{% url 'importar_diagrama' d.id%}" class="hollow success button clear"><i class = "fi-page-edit"></i> Editar</a>
                                <a href="#" onclick="eliminarasd({{ d.id }})" class="hollow button alert" id="eliminar_todo" ><i class = "fi-trash"></i> Eliminar</a>
                                <a href="#" onclick="convertir({{ d.id }})" class="hollow button"><i class="fi-page-export">‌</i>  Convertir </a>
                            </ul>
                        </div>    
                    </div>    
                </div>
            {% endif %}
        {% endfor %}


        <!-- Contenido -->
        <div class="row">
            <div class="large-8 large-offset-2">
                {% include 'paginator.html' %} 
            </div>    
        </div>

    </div>

    <div id="2" style="display: none;">
        {% for d in entity %}
            {% if d.tipo == 2 %}
                <div class="row" >
                    <div class="large-8 large-offset-2">
                        <div class="member-entry">
                            <h3> {{ d.titulo }} <small> {{ d.fecha_creacion }} </small></h3>
                            <p>{{ d.descripcion }}</p>
                            <p>Última modificación: {{ d.ultima_modificacion }}</p>
                            <ul class="vertical menu align-right">
                                <a href="{% url 'importar_diagrama' d.id%}" class="hollow success button clear"><i class = "fi-page-edit"></i> Editar</a>
                                <a href="#" onclick="eliminarasd({{ d.id }})" class="hollow button alert" id="eliminar_todo" ><i class = "fi-trash"></i> Eliminar</a>
                            </ul>
                        </div>    
                    </div>    
                </div>
            {% endif %}
        {% endfor %}

        <!-- Contenido -->
        <div class="row">
            <div class="large-8 large-offset-2">
                {% include 'paginator.html' %} 
            </div>    
        </div>
    </div>



{% endblock %}	
