{% load static %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!--Titulo de la página-->
		<title>BioERD | Bienvenid@</title>
		<!--Icono-->
		<link rel="shortcut icon" href="{% static 'iconos/icon.png' %}">
		<!--Estilos-->
		<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
		<link rel="stylesheet" href="{% static 'css/foundation2.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/joint.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">   

</head>
  
  <body>
	<!-- Barra de Navegacion -->
	<span id="data" style="display: none">{{ datos }}</span>
	<!--<div id="datos"></div>-->
	<div class="top-bar">
		<div class="row">
			<div class="top-bar-left">
				<ul class="dropdown menu" data-dropdown-menu>
					<li class="menu-text">BioERD</li>
					<li><a href="{% url 'home' %}"><i class = "fi-home"></i> Volver</a></li>
					<li class="has-submenu">						
						<li><a data-toggle="guardar_diagrama_modal" id="guardar">Guardar</a></li>
						<li><a id="exportar_img">Exportar Imagen</a></li>						
					</li>
					<div class="button-group align-center " >
						<buton class="hollow button" id="entidad"> Entidad </buton> <!--Boton añadir una entidad-->
						<buton class="hollow button" id="relacion" > Relación </buton><!--Boton añadir una relacion-->	
						<buton class="hollow button" id="atributo"> Atributo </buton><!--Boton añadir una atributo-->
						<button class="hollow button" id="entidad_asociativa"> Entidad Asociativa </button><!--Boton añadir una entidad asociativa-->
						<button class="hollow button warning" id="eliminar_elemento">Eliminar Elemento</button>
						<button class="hollow button alert" id="eliminar_todo">Eliminar Todo</button>
					</div>	
					<li><a></a></li>
					<li><a> {{ user.username }} <i class = "fi-torso"></i></a></li>
				</ul>
			</div>
		</div>
	</div>

	<!--Zona de edición del diagrama-->
    <div  class="col-sm-12">
        <div  class="border border-ligh" id="zona_edicion" style="height:100%;width:100%;"></div>
        <canvas id="idcanvas" style="display: none"></canvas>
    </div>

	<!-- Modal guardar diagrama -->
	<div class = "reveal" id="guardar_diagrama_modal" data-reveal aria-hidden="true" role="dialog" data-reveal data-options="close_on_background_click:false;close_on_esc:false;">
		<div class="text-center">
	
		<h4>Guarda tú diagrama</h4>
		</div>                   
		<form method="post" class="callout text-center">
			{% csrf_token %}
			<tr>
				<a> Título </a>
				<td>{{ form.titulo }}</td>
			</tr>
			<tr>
				<a> Descripción </a>
				<td>{{ form.descripcion }}</td>
			</tr>

			{% with tipo=1 %}     

				<div style="display: none">{{form.tipo}} </div>

			{% endwith %}

			<tr>
				<input id="datos" name="datos" type="text" style="display: none"></input>
			</tr>
			<input class="button expanded" type="submit" value="Guardar Diagrama"> 
		</form>
		<button class="close-button" data-close aria-label = "Close reveal" type = "button">
			<span aria-hidden="true"></span>
		</button>
	</div>
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'js/foundation.min.js' %}"></script>
		<script src="{% static 'js/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/lodash/lodash.js' %}"></script>
    <script src="{% static 'js/backbone/backbone.js' %}"></script>
    <script src="{% static 'js/joint.js' %}"></script>


    <script src="{% static 'js/programa_principal.js' %}"></script>

	<!--Función para el modal-->
	<script>
		$(document).ready(function() {
			$(document).foundation();
		})
	</script>

	</body>
</html>

